@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>


<div class="container-confirm">
    <div class="circle">
        <div class="mail-box">
            <div class="flag"></div>
        </div>
    </div>
    <div class="note note-primary mb-3 mt-3 text-dark align-self-center">
        <strong>Reminder: </strong>Don't forget to check your email and spam folder!
    </div>
</div>

