@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .form-floating input.form-control {
        background-color: rgb(255, 200, 0); /* Set input box background color to orange */
    }

    .half-page {
        height: 100vh; /* Full height */
    }

    .register-half {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        background-color: white; /* Set form background color to white */
        padding: 40px; /* Increase padding for spacing */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
        max-width: 500px; /* Set maximum width for the form */
        width: 100%; /* Ensure the form takes full width of its container */
        margin: 0 20px; /* Add some margin to prevent touching the edges */
    }

    .image-half {
        background: url('/webLogo.jpg') no-repeat center center;
        background-size: cover;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 half-page register-half">
            <div class="form-container">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 half-page image-half">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
